body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url("wood01.jpg");
    background-size: cover;
    position: relative; /* This is needed for absolute positioning inside */
  }
h1 {
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


div {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphic {
    width: 100px;
    height: 100px;
    background-image: url('bitmap.png'); /* Replace with your graphic */
    border-radius: 50%; /* Optional, for a circular shape */
    pointer-events: none; /* This makes sure the mouse can still click 'through' the graphic */
  }
  