body {
    background-image: url("wood01.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphic {
    width: 100px;
    height: 100px;
    background-image: url('bitmap.png'); /* Replace with your graphic */
    border-radius: 50%; /* Optional, for a circular shape */
    pointer-events: none; /* This makes sure the mouse can still click 'through' the graphic */
  }
  